<form [formGroup]="gstForm">
    <div class="col-md-12">
        <div class="gst-wrapper">
            <div class="gst-hold-body" id="showDiv">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblTeGST" class="table   color-table d-table table-cust tbl-sml">
                            <thead>
                                <tr>
                                    <th class="thd-w25"><span>GSTIN</span></th>
                                    <th class="thd-w15"><span>Invoice Number</span></th>
                                    <th class="thd-w15"><span>Amount</span></th>
                                    <th class="thd-w10"><span>SGST</span></th>
                                    <th class="thd-w10"><span>CGST</span></th>
                                    <th class="thd-w10"><span>IGST</span></th>
                                    <th class="thd-w10"><span>UTGST</span></th>
                                    <th class="thd-w5"><span>Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" formControlName="GstIn"
                                                class="form-control chm-forminput teGst gsttxt" id="txtTeGSTNo"
                                                placeholder="">
                                            <span class="validate-error-message teGst"
                                                id="validate-error-message-txtTeGSTNo"
                                                style="display: none">Required</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" formControlName="InvoiceNumber" maxlength="30"
                                                class="form-control chm-forminput teGst" id="txtTeInvNo" placeholder="">
                                            <span class="validate-error-message teGst"
                                                id="validate-error-message-txtTeInvNo"
                                                style="display: none">Required</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" formControlName="Amount"
                                                class="form-control chm-forminput teGst allowDecimal text-right enav-only-numeric amount-tag-rt"
                                                id="txtTeGSTValue" placeholder="">
                                            <span class="validate-error-message teGst"
                                                id="validate-error-message-txtTeGSTValue"
                                                style="display: none">Required</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" formControlName="SGST"
                                                class="form-control chm-forminput teGst allowDecimal text-right"
                                                id="txtTeSGST" placeholder="">
                                            <span class="validate-error-message teGst"
                                                id="validate-error-message-txtTeSGST"
                                                style="display: none">Required</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" formControlName="CGST"
                                                class="form-control chm-forminput teGst allowDecimal text-right"
                                                id="txtTeCGST" placeholder="">
                                            <span class="validate-error-message teGst"
                                                id="validate-error-message-txtTeCGST"
                                                style="display: none">Required</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" formControlName="IGST"
                                                class="form-control chm-forminput teGst allowDecimal text-right enav-only-numeric amount-tag-rt"
                                                id="txtTeIGST" placeholder="">
                                            <span class="validate-error-message teGst"
                                                id="validate-error-message-txtTeIGST"
                                                style="display: none">Required</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" formControlName="UGST"
                                                class="form-control chm-forminput teGst allowDecimal text-right enav-only-numeric amount-tag-rt"
                                                id="txtTeUTGST" placeholder="">
                                            <span class="validate-error-message teGst"
                                                id="validate-error-message-txtTeUTGST"
                                                style="display: none">Required</span>
                                        </div>
                                    </td>
                                    <td>
                                        <a type="button" id="btnAddGstTe" class="btn btn-light btn-sm rounded-circle "
                                            (click)="addGstRow()">
                                            <span class="ti-plus ti-rotate"></span>
                                        </a>
                                    </td>
                                </tr>
                                <ng-container *ngIf="gstDetails.length > 0">
                                    <tr *ngFor="let gst of gstDetails;let i = index">
                                        <td>{{gst.GstIn}}</td>
                                        <td>{{gst.InvoiceNumber}}</td>
                                        <td>{{gst.Amount}}</td>
                                        <td>{{gst.SGST}}</td>
                                        <td>{{gst.CGST}}</td>
                                        <td>{{gst.IGST}}</td>
                                        <td>{{gst.UGST}}</td>
                                        <td>
                                            <a type="button" id="btnAddGstTe" class="btn btn-light btn-sm rounded-circle "
                                                (click)="removeGstRow(i)">
                                                <span class="ti-minus ti-rotate"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>