lib-file-upload {
	
		font-size: 12px;
	margin-bottom: 15px;

	.custom-upload {
		color: #2A5EE3;
		text-decoration: underline;
		font-weight: 600;
		font-size: 13px;
		display: inline-block;
		width: 100%;
	}
}
 
 
.cdk-overlay-pane.mat-mdc-dialog-panel {
	max-width: none !important;
	min-width: none !important;
}