<div class="modal-header">
    <span>Attachment Details</span>
    <mat-icon (click)="dialogRef.close()" aria-hidden="false" aria-label="Example home icon" fontIcon="close">
    </mat-icon>
</div>

<div class="modal-body">
    <table class="attachment-table">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>File Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let file of data.attachments; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ file.FileName }}</td>
                <td>
                    <mat-icon (click)="downloadFile(file)" aria-hidden="false" aria-label="Example home icon"
                        fontIcon="download">
                    </mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>