<div class="modal-dialog modal-xl ">
    <div class="modal-content" style="background-color: #F7F7FA;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
                Attachment Details
            </h5>
            <button class="close-dialouge" type="button" mat-button (click)="close()"> 
                <i class="fa fa-times text-white fs-6"></i>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table mt-0 mb-0 remove-th-mobile remove-th-mobilet grey-table table-cust tbl-sml attachment-table">
                        <thead>
                            <tr>
                                <th>Sl.No</th>
                                <th>File Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let file of paginatedAttachments; index as i">
                                <td data-label="Sl.No">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                                <td data-label="File Name">{{ file.FileName }}</td>
                                <td data-label="Action">
                                    <mat-icon (click)="previewFile(file)" aria-hidden="false" aria-label="Preview" fontIcon="visibility"></mat-icon>
                                    <mat-icon (click)="downloadFile(file)" aria-hidden="false" aria-label="Download" fontIcon="download"></mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="(!paginatedAttachments || paginatedAttachments.length === 0)">
                        No attachments available.
                    </div>
                    <div class="pagination-controls" *ngIf="totalPages > 1" style="margin-top: 10px; text-align: right;">
                        <button mat-button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&lt; Prev</button>
                        <span>Page {{ currentPage }} of {{ totalPages }}</span>
                        <button mat-button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next &gt;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>