app-bulk-approve-modal{
.modal-body {
    padding: 16px;
    background: white;
}

.attachment-table {
    width: 100%;
    border-collapse: collapse;
}

.attachment-table th,
.attachment-table td {
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
}

.modal-dialog {
    margin: inherit;
}
.close-dialouge{ background: transparent; border: none;;}
app-bulk-approve-modal .attachment-table tr:last-child td {
	border: none;
}
}

 .mat-mdc-dialog-panel {
	max-width: none !important;
	min-width: none !important;
}