.mat-mdc-icon-button img, .mat-mdc-icon-button svg {
	width: var(--mdc-icon-button-icon-size, 20px) !important;
	height: var(--mdc-icon-button-icon-size, 20px) !important;
	vertical-align: baseline;
	fill: #031842 !important;
}
.mat-calendar-controls {
 
	margin: 0!important;
}.mat-datepicker-content .mat-calendar {
	 border-radius: 5px;
	height: auto!important;
}.mat-calendar-period-button {
	margin: 0!important;
}.mat-datepicker-content {
 
	background-color: #ffffff!important;
    	border-radius: 4px!important;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(217, 217, 217, 0.16)!important;
    -moz-box-shadow: 0px 0px 9px 0px rgba(217, 217, 217, 0.16)!important;
    box-shadow: 0px 0px 9px 0px rgba(217, 217, 217, 0.16)!important;
	 
}.mat-calendar-table-header th {
 
	padding: 0!important;
 
}.mat-calendar-table-header th {
 
	color: #9A99A2!important;
	 
} .mat-calendar-body-selected {
	background-color: #031842!important;
 
}