@if (!!controlConfig) {
<div class="radio-group-container form-group chm-formgroup mb-3">
    <label class="d-block mb-3">
        {{ controlConfig.label }}
        @if (controlConfig.required) {
        <span class="required-star">*</span>
        }
    </label>

    <mat-radio-group [formControl]="control" [name]="controlConfig.name" appearance="standard">
        @for (option of controlConfig.options; track trackByFn($index, option)) {
        <mat-radio-button class="me-4" [value]="option.value">
            {{ option.label }}
        </mat-radio-button>
        }
    </mat-radio-group>

    @if (control.invalid && control.touched) {
    <mat-error>
        {{ getErrorMessage | fnWrap : control.invalid && control.touched }}
    </mat-error>
    }
</div>
}