lib-text-input {
	.read-only-line {
		.mat-mdc-floating-label.mdc-floating-label {
			pointer-events: none !important;
		}

		.mdc-line-ripple {
			display: none !important;
		}
	}

	.no-pointer {
		pointer-events: none !important;
	}
}