<mat-form-field appearance="fill">
  <mat-label>
    {{ controlConfig.label }}
    @if (controlConfig.required) {
    <span class="required-star">*</span>
    }
  </mat-label>

  <mat-select [formControl]="control" multiple #select (openedChange)="resetSearch()">

    <!-- Search Box -->
    <mat-form-field class="search-box" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search" [(ngModel)]="searchTerm" (keyup)="filterOptions()" />
    </mat-form-field>

    <!-- Select All Option -->
    <mat-option (click)="toggleSelectAll()" [disabled]="!filteredOptions.length">
      <mat-checkbox [checked]="allSelected">Select All</mat-checkbox>
    </mat-option>

    <!-- Filtered Options -->
    @for (option of filteredOptions; track option) {
    <mat-option [value]="option.value">
      <mat-checkbox [checked]="isSelected(option.value)">{{ option.label }}</mat-checkbox>
    </mat-option>
    }

  </mat-select>

  @if (control.invalid && control.touched) {
  <mat-error>
    {{ getErrorMessage | fnWrap : control.invalid && control.touched }}
  </mat-error>
  }
</mat-form-field>