<div class="page-title">
   <h2 class="page-header">Travel Expense Request Preview</h2>
</div>
<div class="app-main-wrapper">
   <div class="inn-main-hold">
      <div class="flex-wrapper-top">
         <div class="all-data-wrapper">
            <div class="global-container-hold">
               <div class="left-container-wider scroll-left-align mar-tmd3">
                  <div class="preview-child-section mb-3">
                     <div class="preview-head-view">
                        <div *ngFor="let item of requestHeaderDetails"
                           class="preview-head-child d-flex align-items-start justify-content-between">
                           <span class="phv-icon me-2"><i class="fa-solid" [ngClass]="item.iconClass"></i></span>
                           <div>
                             <label class="name-label-head">{{ item.label }}:</label><br>
                             <ng-container *ngIf="item.isLink; else normalText">
                               <span class="name-label-det">
                                 <a href="#" class="phv-link" (click)="openDetailsDialog(4)" data-bs-toggle="modal" data-bs-target="#req-all-details">{{ item.value }}</a>
                               </span>
                             </ng-container>
                             <ng-template #normalText>
                               <span
                                 class="name-label-det"
                                 [ngClass]="item.statusClass ? item.statusClass + ' status-common' : ''"
                               >
                                 {{ item.value }}
                               </span>
                             </ng-template>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="common-block  mb-3">
                     <div class="d-flex align-items-center justify-content-between">
                        <h6 class="common-title fw-bold mb-3">Request Details </h6>
                     </div>
                     <div class="row">
                        <div class="col-md-4" *ngFor="let item of requestDetails">
                           <div class="trl-preview-wrapper">
                              <div class="trl-readview-item">
                                 <div class="trl-req-head">
                                    <label>{{ item.label }}</label>
                                 </div>
                                 <div class="trl-req-detail">
                                    <span *ngIf="!item.isLink">{{ item.value || '-' }}</span>
                                    <a *ngIf="item.isLink" href="javascript:void(0)">
                                       {{ item.value || '-' }}
                                    </a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row-wrapper common-block px-3 py-3">
                     <div class="accordion accordion-flush preview-standard-view" id="accordionFlushExample">
                        @if(loadData) {
                        @for (category of expenseRequestPreviewConfig?.dynamicExpenseDetailModels; track category) {
                        <app-expansion-panel [title]="category.label" [expanded]="category.expanded"
                           [amount]="category.amount">
                           @if(category.columns) {
                           <app-material-table [categoryName]="category.name" [categoryGST]="category?.gst" [mode]="mode" [data]="category.data" [columnConfig]="category.columns"
                              [slNoLabel]="category.slNoLabel" [nestedTables]="category.nestedTables"
                              [otherFields]="otherFields" (selectionChanged)="getSelection($event)">
                           </app-material-table>
                           }
                        </app-expansion-panel>
                        }
                        }
                     </div>
                  </div>

                  <!-- Other Details -->
                  <div class="row mt-2">
                     <div class="col-md-12">
                        <mat-tab-group fitInkBarToContent>
                           @for (detail of otherDetails; track detail) {
                           <mat-tab>
                              @switch (detail.name) {
                              @case ("PolicyViolations") {
                              <ng-template mat-tab-label>
                                 <span>{{detail.label}}</span>
                              </ng-template>

                              @for (expenseRequest of expenseRequestPreviewData?.dynamicExpenseDetailModels; track
                              $index) {
                              @for (data of expenseRequest.data; track $index) {
                              @if (data?.IsViolation) {
                              <ul class="policy-vio-list">
                                 <li>
                                    <span class="fa-pv"><i class="fa fa-exclamation-triangle"
                                          aria-hidden="true"></i></span>
                                    {{expenseRequest.name}}: {{detail[expenseRequest.name]}}
                                 </li>
                              </ul>
                              }
                              }
                              }
                              }
                              @case ("Approvaldetails") {
                              <ng-template mat-tab-label>
                                 <span>{{detail.label}}</span>
                              </ng-template>
                              <div class="table-responsive mt-3">
                                 <table
                                    class="table color-table d-table table-cust tbl-sml no-sorting td-firstdata-center vioColor">
                                    <thead>
                                       <tr>
                                          <th>Sl.No</th>
                                          @for (column of detail?.table.columns; track column) {
                                          <th>{{ column?.label }}</th>
                                          }
                                       </tr>
                                    </thead>
                                    <tbody>
                                       @for (approvalTransaction of
                                       expenseRequestPreviewData?.expenseApprovalTransaction; track $index) {
                                       <tr>
                                          <td>{{ $index + 1 }}</td> <!-- Serial Number -->
                                          @for (column of detail?.table.columns; track $index) {
                                          <td>{{ approvalTransaction [column?.name] }}</td>
                                          }
                                       </tr>
                                       }
                                    </tbody>
                                 </table>
                              </div>
                              }
                              @case ("LogDetails") {
                              <ng-template mat-tab-label>
                                 <span>{{detail.label}}</span>
                              </ng-template>
                              <div class="row mt-2">
                                 <div class="col-md-12">
                                    <div class="time-frame-wrapper">
                                       <div class="time-log-axis">
                                          @for (log of expenseRequestPreviewData?.expenseRequestLog; track $index) {
                                          <div class="tfl-child">
                                             <ul>
                                                <li><span><i class="fa fa-calendar-check-o"
                                                         aria-hidden="true"></i></span>{{log?.actionDatetimeString}}
                                                </li>
                                                <li><span><i class="fa fa-check-square-o"
                                                         aria-hidden="true"></i></span>{{log?.actionStatus}}</li>
                                                <li><span><i class="fa fa-user-circle-o"
                                                         aria-hidden="true"></i></span>{{log?.actionByName}}</li>
                                                <li><span><i class="fa fa-commenting"
                                                         aria-hidden="true"></i></span>{{log?.actionRemarks}}
                                                </li>
                                             </ul>
                                          </div>
                                          }
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              }
                              }
                           </mat-tab>
                           }
                        </mat-tab-group>
                     </div>
                  </div>
               </div>
               <!-- left-container-wider -->
               <div class="right-container-nrw rt-aside-fixed">
                  <div class="row-wrapper common-block px-3 py-3">
                     <!-- Summary -->
                     @if (loadData) {
                     <app-summary [summaries]="expenseSummary"
                        [expenseRequestData]="expenseRequestPreviewData"></app-summary>
                     }
                     <div class="row mt-3">
                        <div class="col-md-12">
                           <div class="form-group chm-formgroup mb-2">
                              <label>Justification</label>
                              <p>
                                 {{expenseRequestPreviewData?.remarks || ''}}
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row mt-3">
                     <div class="col-md-12">
                        @if (mode == "approval" && expenseRequestPreviewConfig?.actions) {
                        <div class="main-btn-hold d-flex flex-column mt-2" style="align-items:end;">
                           <div class="d-flex align-items-center w-100 mb-2">
                              @if (expenseRequestPreviewConfig.actions[0]) {
                              <a [ngClass]="expenseRequestPreviewConfig.actions[0].class"
                                 (click)="onAction(expenseRequestPreviewConfig.actions[0].type);">
                                 {{ expenseRequestPreviewConfig.actions[0].label }}
                              </a>
                              }
                              @if (expenseRequestPreviewConfig.actions[1]) {
                              <button type="button" [ngClass]="expenseRequestPreviewConfig.actions[1].class"
                                 (click)="onAction(expenseRequestPreviewConfig.actions[1].type)">
                                 {{ expenseRequestPreviewConfig.actions[1].label }}
                              </button>
                              }
                           </div>
                           @if (expenseRequestPreviewConfig.actions[2]) {
                           <button type="button" [ngClass]="expenseRequestPreviewConfig.actions[2].class"
                              (click)="onAction(expenseRequestPreviewConfig.actions[2].type)">
                              {{ expenseRequestPreviewConfig.actions[2].label }}
                           </button>
                           }
                        </div>
                        }
                        <div class="main-btn-hold d-flex flex-column mt-2 ">
                           <div class="text-end">
                              <a href="claim-expense.html" class="btn btn-outline-secondary me-2 w-100">Back</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- all-data-wrapper -->
      </div>
   </div>
</div>