app-preview {

	.mat-mdc-tab-body.mat-mdc-tab-body-active {
     
    z-index: 0;
   
}

    .adjustemnt-container {
        width: 100%;
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 3px;
        padding: 10px;
    }

    .form-field-class {
        .mat-mdc-form-field-infix {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            min-height: 0 !important;
        }

        .mat-mdc-form-field-bottom-align::before {
            display: none;
        }
        
    }

	.policy-tab .mat-mdc-tab-body-wrapper .mat-mdc-tab-body .mat-mdc-tab-body-content {
	overflow: hidden;
}

  .policy-tab .mat-mdc-tab-body-wrapper .mat-mdc-tab-body:first-child {
	background: rgba(0, 0, 0, 0.01);
	margin-top: 10px;
	border-radius: 10px;
}
  .policy-tab .mat-mdc-tab-body-wrapper .mat-mdc-tab-body {
	background: transparent !important;
}
.policy-tab .mat-mdc-tab-body-wrapper .mat-mdc-tab-body:last-child {padding: 10px;}
 .mat-mdc-table td input.form-control {
	border-bottom: 1px solid #BABAC4;
	font-size: 11px;
}

	// .common-tab .mat-mdc-tab-header {
	// 	background-color: #f7f7fa;
	// 	border-radius: 10px;margin-bottom: 12px;
	// }
	

	.common-tab .mat-mdc-tab-label-container {
		border: none;
		z-index: inherit;
	}

	.common-tab .mat-mdc-tab-list {
flex-grow: 0;
  background-color: #f7f7fa;
  border-radius: 10px;

	}

	.common-tab .mdc-tab-indicator .mdc-tab-indicator__content {

		border: none;
	}

	.common-tab .mdc-tab {
		min-width: inherit;
		padding: 13px 10px;
		height: auto !important;
	}

	.common-tab .mdc-tab--active {
		background-color: #000000;
		border-radius: 10px;

	}
	.common-tab  .mat-mdc-tab-body-wrapper {
 
	// background-color: #f7f7fa;
	border-radius: 5px;
}

	.common-tab .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
		color: #ffffff !important;
	}

	.common-tab .mat-mdc-tab .mdc-tab__ripple::before {

		border-radius: 10px;
	}
 .mat-expansion-panel {
	margin: 0 0 10px 0 !important;
	background: #ffffff;
	border-radius: var(--mat-expansion-container-shape, 5px);
	box-shadow: none !important;    overflow: inherit !important;
}.mat-expansion-panel-header {
 
	padding: 0 15px;
 font-size: 13px;
	height: var(--mat-expansion-header-collapsed-state-height, 35px) !important;
	 
}
 .mat-expansion-panel-header.mat-expanded {
	height: var(--mat-expansion-header-expanded-state-height, 35px);
	border-bottom: 1px solid #E4E4EB;
	margin-bottom: 10px;
	border-radius: 0;
}.mat-expansion-panel-body {
	padding: 0 10px 15px 15px;
}

.mat-mdc-row {
	height: auto !important;
	vertical-align: middle;
	 
}.mat-expansion-indicator svg {
	width: 41px!important;
	height: 24px!important;
 
	fill: #2A5EE3!important;
	 
}.accordion app-expansion-panel:last-child .mat-expansion-panel {
	margin-bottom: 0 !important;
}

@media (max-width: 767px) {

.common-tab .mdc-tab {
		min-width: inherit;
		padding: 13px 3px;
		height: auto !important;
	}
 .nested-padding tr {
	padding: 3px;
	background-color: #fff;
}
.nested-table {
	padding: 0 !important;
}
}



}

.back-button-width-100 {
	width: 100% !important;
}

