app-custom-snackbar{


.common-toast {
	width: 350px;
	padding: 10px;
	border-radius: 10px;
}

.toast-green{ background-color:#E6F6EF;}
.toast-red{ background-color:#f8e0e0;}
.toast-yellow{ background-color:#fffcd9;}
.toast-blue{ background-color:#e7e8fa;}
 

}