<form [formGroup]="form" class="row">
  @for (control of formControls; track control) {
    @if (control.formConfig.type !== 'hidden' && control.formConfig.showInUI !== false) {
      @if (hasControlComponent(control.formConfig.type)) {
        <div class="col-md-4">
          <ng-container *ngComponentOutlet="getControlComponent(control.formConfig.type)!; injector: createInjector(control)"></ng-container>
        </div>
      } @else {
        <div>
          <p>Unsupported control type: {{ control.formConfig.type }}</p>
        </div>
      }
    }
  }

  <div class="col-md-12 mt-0 mb-3">
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-outline-secondary clear me-2" id="cleartable"
        (click)="clear()">Clear</button>
      <button type="button" class="btn btn-primary" id="addUpdateBtn" (click)="onSubmit()">
        {{ editIndex ? "Update" : "Add" }}
      </button>
    </div>
  </div>

  @if (tableData.length > 0) {
    @defer {
      <app-dynamic-table [tableData]="tableData" [categoryConfig]="category" (editRow)="onEditRow($event)"
        (deleteRow)="onDeleteRow($event)"></app-dynamic-table>
    } @loading {
      <div class="loading-spinner">Loading table...</div>
    }
  }
</form>