<form [formGroup]="form" class="row">
  @for (control of formControls; track control) {
  @if (control.formConfig.type !== 'hidden' && control.formConfig.showInUI !== false) {
  <!-- Using ngSwitch to handle different control types -->
  @switch (control.formConfig.type) {
  <!-- Handling 'text' type controls -->
  @case ('text') {
  <div class="col-md-4">
    <lib-text-input [controlConfig]="control.formConfig" [control]="control.control"
      (emitInputValue)="getInputValue($event)" [form]="form">
    </lib-text-input>
  </div>
  }
  <!-- Handling 'select' type controls -->
  @case ('select') {
  <div class="col-md-4">
    <lib-select-input [controlConfig]="control.formConfig" [control]="control.control"
      (valueChange)="onFieldValueChange(control.formConfig);onDropdownValueChange($event)">
    </lib-select-input>
  </div>
  }
  <!-- Handling 'multi-select' type controls -->
  @case ('multi-select') {
  <div class="col-md-4">
    <lib-multi-select-input [controlConfig]="control.formConfig" [control]="control.control">
    </lib-multi-select-input>
  </div>
  }
  <!-- Handling 'date' type controls -->
  @case ('date') {
  <div class="col-md-4">
    <lib-date-input [controlConfig]="control.formConfig" [control]="control.control" [form]="form"
      (valueChange)="onFieldValueChange(control.formConfig);handleEvent('dateChange', $event)" [minDate]="minSelectableDate" [maxDate]="maxSelectableDate"
      (emitSpecificCase)="getSpecificCase($event)">
    </lib-date-input>
  </div>
  }
  <!-- Handling 'radio' type controls -->
  @case ('radio') {
  <div class="col-md-8">
    <lib-radio-input [controlConfig]="control.formConfig" [control]="control.control">
    </lib-radio-input>
  </div>
  }
  <!-- Handling 'costcenter' type controls -->
  @case ('costcenter') {
  <app-cost-center [controlConfig]="control.formConfig" [control]="control.control" [form]="form"></app-cost-center>
  }
  <!-- Handling 'gst' type controls -->
  @case ('gst') {
  <app-gst [controlConfig]="control.formConfig" [control]="control.control" [form]="form"></app-gst>
  }
  <!-- Handling 'textarea' type controls -->
  @case ('textarea') {
  <lib-text-area-input [controlConfig]="control.formConfig" [control]="control.control">
  </lib-text-area-input>
  }
  <!-- Handling 'file' type controls -->
  @case ('file') {
  <lib-file-upload [controlConfig]="control.formConfig" [form]="form" [formConfig]="formConfig" [control]="control.control" [selectedFiles]="selectedFiles"
    (ocrCompleted)="onOcrCompleted($event)">
  </lib-file-upload>
  }
  <!-- Optional: Default case if control type doesn't match -->
  @default {
  <div>
    <p>Unsupported control type: {{ control.formConfig.type }}</p>
  </div>
  }
  }
  }
  }

  <div class="col-md-12 mt-0 mb-3">
    <div class=" d-flex align-items-center   justify-content-end ">
      <button type="button" class="  btn btn-outline-secondary clear me-2  " id="cleartable" (click)="clear()">Clear</button>
      <button type="button" class="btn btn-primary " id="addUpdateBtn" (click)="onSubmit()">{{ editIndex ? "Update" : "Add" }}</button>
    </div>
  </div>
  
  @if (tableData.length > 0) {
  <app-dynamic-table [tableData]="tableData" [categoryConfig]="category" (editRow)="onEditRow($event)"
    (deleteRow)="onDeleteRow($event)"></app-dynamic-table>
  }
</form>