<div class="page-title">
    <h2 class="page-header">Settlement</h2>
</div>
<div class="app-main-wrapper">
    <div class="two-roles-wrapper">
        <div class="tabs-page-hold">
            <ul class="nav nav-tabs common-tab mb-4" style="width: auto;display: inline-flex;" id="myTab"
                role="tablist">
                <li class="nav-item" role="presentation">
                    <a id="menu-dashboard-my" class="nav-link active" [routerLink]="['/finance/settlement']">
                        Settlement </a>
                </li>
            </ul>
            <div class=" pt-1">
                <div class="section-wrapper">
                    <div class="section-content">
                        <div id="recent-req-tabs" class="custom-wrapper-general">
                            <div class="position-relative">
                                <ul class="nav nav-tabs line-tab mb-lg-4 mb-md-4 mb-sm-3 mb-3" id="linetab"
                                    role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active requesttab" id="travel-req-tab"
                                            data-bs-toggle="tab" data-bs-target="#travel-req" type="button" role="tab"
                                            aria-controls="travel-req" aria-selected="true"> Pending -
                                            {{this.expenseRequesData.length}}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div id="expwnse-rewmg2" class="tab-pane fade pt-0 active show position-relative">
                                    <div class="datatable-right">
                                        <div class="dt-buttons">
                                            <button
                                                class="btn btn-outline-secondary me-2 py-1 fw-normal  px-3 btn-sm export-btn"
                                                tabindex="0" aria-controls="tblMyExpenseRequest" type="button"
                                                (click)="exportExcel()">
                                                <svg class="me-2" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M7.9999 11.2L4.53323 7.99998M7.9999 11.2L11.1999 7.99998M7.9999 11.2L7.9999 1.06665M14.3999 7.46665L14.3999 14.4L1.5999 14.4L1.5999 7.46665"
                                                        stroke="#031842" stroke-width="1.5" stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </svg>
                                                Download Excel
                                            </button>
                                        </div>
                                        <div id="tblMyExpenseRequest_filter"
                                            class="dataTables_filter position-relative">
                                            <mat-form-field class="datatable-search position-relative"
                                                appearance="outline">
                                                <input class="custom-search" matInput
                                                    (keyup)="applyGlobalFilter($event)" placeholder="Search" />
                                                <svg width="21" height="21" viewBox="0 0 21 21" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M1.70312 9.17466C1.70312 5.11 4.99818 1.81494 9.06284 1.81494C13.1275 1.81494 16.4226 5.11 16.4226 9.17466C16.4226 13.2393 13.1275 16.5344 9.06284 16.5344C4.99818 16.5344 1.70312 13.2393 1.70312 9.17466ZM9.06284 0.564941C4.30783 0.564941 0.453125 4.41964 0.453125 9.17466C0.453125 13.9297 4.30783 17.7844 9.06284 17.7844C11.311 17.7844 13.3579 16.9227 14.8913 15.5116C14.8578 15.7051 14.9157 15.9114 15.0652 16.0609L19.1526 20.1483C19.3967 20.3924 19.7924 20.3924 20.0365 20.1483C20.2805 19.9042 20.2805 19.5085 20.0365 19.2644L15.9491 15.177C15.7996 15.0275 15.5933 14.9696 15.3998 15.0032C16.8109 13.4698 17.6726 11.4228 17.6726 9.17466C17.6726 4.41964 13.8179 0.564941 9.06284 0.564941Z"
                                                        fill="#8F90A6" />
                                                </svg>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="mat-table-container">
                                            <table mat-table [dataSource]="dataSource" matSort
                                                class="table table-travelreq mobile-card-view-datatable table-cust-modeA filterColumnTableVer2 recent-exp-req table table-bordered table-striped table-cust-new d-table no-footer dataTable">
                                                <!-- Column Definitions for Data and Header -->
                                                <ng-container *ngFor="let column of displayedColumns"
                                                    [matColumnDef]="column.key">
                                                    <!-- Header Cell -->
                                                    <th mat-header-cell *matHeaderCellDef
                                                        [mat-sort-header]="column.sortable ? column.key : ''">
                                                        {{ column.label }}
                                                    </th>
                                                    <!-- Data Cell -->
                                                    <td [attr.data-label]="column.label" mat-cell *matCellDef="let element; let i = index">
                                                        <ng-container *ngIf="column.key === 'slNo'; else columnContent">
                                                            {{ i + 1 }}
                                                        </ng-container>
                                                        <ng-template #columnContent>
                                                            <ng-container
                                                                *ngIf="column.key === 'PolicyViolationCount'; else requestDateColumn">
                                                                <mat-icon
                                                                    [ngClass]="element[column.key] > 0 ? 'violation-icon-red' : 'violation-icon-green'"
                                                                    [matTooltip]="element[column.key] > 0 ? 'Policy Violation' : 'No Policy Violation'">
                                                                    {{ element[column.key] > 0 ?
                                                                    'cancel' : 'check_circle' }}
                                                                </mat-icon>
                                                            </ng-container>
                                                            <ng-template #requestDateColumn>
                                                                <ng-container
                                                                    *ngIf="column.key === 'RequestDate'; else actionColumn">
                                                                    {{ element[column.key] | date:
                                                                    'dd-MMM-yyyy' }}
                                                                </ng-container>
                                                                <ng-template #actionColumn>
                                                                    <ng-container
                                                                        *ngIf="column.key === 'action'; else defaultColumn">
                                                                        <div class="TBL-actions">
                                                                            <ul class="action-icons">
                                                                                <li>
                                                                                    <a [routerLink]="['/finance/finance-approval',element.TransactionId]"
                                                                                        class="btn-icon-action btn-icon-edit"><span
                                                                                            data-bs-toggle="tooltip"
                                                                                            matTooltip="Approve"
                                                                                            class="fa-square-check fa-regular"
                                                                                            data-bs-original-title="Approve"
                                                                                            aria-label="Approve"></span>
                                                                                    </a>
                                                                                </li>
                                                                                <li>
                                                                                    <a [routerLink]="['/dashboard/preview',element.TransactionId]"
                                                                                        class="btn-icon-action btn-icon-view">
                                                                                        <span data-bs-toggle="tooltip"
                                                                                            class="fa-eye fa-regular"
                                                                                            aria-label="View"
                                                                                            matTooltip="View"></span>
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </ng-container>
                                                                    <ng-template #defaultColumn>
                                                                        @if (column.key === 'ClaimStatus') {
                                                                        @if (element['ClaimStatusId'] === 23) {
                                                                        <span class="status-green status-common"
                                                                            data-bs-toggle="tooltip" title="Completed"
                                                                            matTooltip="Completed"
                                                                            aria-label="Completed">
                                                                            {{ element[column.key] }}
                                                                        </span>
                                                                        } @else if (element['ClaimStatusId'] === 26) {
                                                                        <span class="status-grey   status-common"
                                                                            data-bs-toggle="tooltip"
                                                                            title="Expense Request Draft"
                                                                            matTooltip="Expense Request Draft"
                                                                            aria-label="Expense Request Draft">
                                                                            {{ element[column.key] }}
                                                                        </span>
                                                                        }
                                                                        @else if (element['ClaimStatusId'] === 27) {
                                                                        <span class="status-grey  status-common"
                                                                            data-bs-toggle="tooltip"
                                                                            title="Pending For Approval"
                                                                            matTooltip="Pending For Approval"
                                                                            aria-label="Pending For Approval">
                                                                            {{ element[column.key] }}
                                                                        </span>
                                                                        }
                                                                        @else if (element['ClaimStatusId'] === 30) {
                                                                        <span class="status-red status-common"
                                                                            data-bs-toggle="tooltip" title="Rejected"
                                                                            matTooltip="Rejected"
                                                                            aria-label="Rejected">
                                                                            {{ element[column.key] }}
                                                                        </span>
                                                                        }
                                                                        @else if (element['ClaimStatusId'] === 31) {
                                                                        <span class="status-orange  status-common"
                                                                            data-bs-toggle="tooltip"
                                                                            title="Seek Clarification"
                                                                            matTooltip="Seek Clarification"
                                                                            aria-label="Seek Clarification">
                                                                            {{ element[column.key] }}
                                                                        </span>
                                                                        }
                                                                        @else if (element['ClaimStatusId'] === 32) {
                                                                        <span class="status-red status-common"
                                                                            data-bs-toggle="tooltip" title="Cancelled"
                                                                            matTooltip="Cancelled"
                                                                            aria-label="Cancelled">
                                                                            {{ element[column.key] }}
                                                                        </span>
                                                                        }
                                                                        @else if (element['ClaimStatusId'] === 34) {
                                                                        <span class="status-green status-common"
                                                                            data-bs-toggle="tooltip" title="Approved"
                                                                            matTooltip="Approved"
                                                                            aria-label="Approved">
                                                                            {{ element[column.key] }}
                                                                        </span>
                                                                        }
                                                                        @else {
                                                                        {{ element[column.key] }}
                                                                        }
                                                                        } @else {
                                                                        {{ element[column.key] }}
                                                                        }
                                                                    </ng-template>
                                                                </ng-template>
                                                            </ng-template>
                                                        </ng-template>
                                                    </td>
                                                </ng-container>
                                                <!-- Filter Row Column Definitions -->
                                                <ng-container *ngFor="let column of displayedColumns"
                                                    [matColumnDef]="column.key + '_filter'">
                                                    <td mat-header-cell *matHeaderCellDef class="filter-cell">
                                                        <mat-form-field appearance="outline">
                                                            <input matInput (keyup)="applyFilter($event, column.key)"
                                                                placeholder="Search" />
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>
                                                <!-- Header Row (Single) -->
                                                <tr mat-header-row *matHeaderRowDef="columnKeys">
                                                </tr>
                                                <!-- Filter Row (As Header Row) -->
                                                <tr mat-header-row *matHeaderRowDef="filterColumnKeys"
                                                    class="filter-row"></tr>
                                                <!-- Data Rows -->
                                                <tr mat-row *matRowDef="let row; columns: columnKeys"></tr>
                                            </table>
                                            <mat-paginator [length]="dataSource.data.length" [pageSize]="5"
                                                [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
                                            </mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>