<div class="new-login-wrapper">
    <div class="login-holdinn p-relative">
        <div class="left-container">
            <img [src]="config.images.loginImage" [alt]="config.titles.loginPageTitle"
                [title]="config.titles.loginPageTitle">
        </div>
        <div class="right-container">
            <div class="bidder-login">
                <div class="form-hold mt-0 mb-3">
                    <div class="logo-inline-flex">
                        <img [src]="config.images.applicationLogo" [alt]="config.titles.loginPageTitle"
                            [title]="config.titles.loginPageTitle" class="logo-main">
                    </div>
                </div>
                <!-- <form [formGroup]="loginForm">
                    <div class="form-hold">
                        <div class="input-container">
                            <i class="{{ config.icons.employeeCode }}"></i>
                            <input class="input-field" type="text" placeholder="{{ config.messages.placeholder.employeeCode }}" name="usrnm"
                                formControlName="employeeCode">
                        </div>
                        <div *ngIf="submitted && loginForm.get('employeeCode')?.invalid" class="text-danger">
                            {{ config.messages.employeeCodeRequired }}
                        </div>
                    </div>
                    <div class="form-hold">
                        <div class="input-container">
                            <i class="{{ config.icons.password }}"></i>
                            <input class="input-field" type="password" placeholder="{{ config.messages.placeholder.password }}" name="psw"
                                formControlName="password">
                        </div>
                        <div *ngIf="submitted && loginForm.get('password')?.invalid" class="text-danger">
                            {{ config.messages.passwordRequired }}
                        </div>
                    </div>
                    <div class="form-hold mt-1">
                        <div class="form-listing">
                            <a href="javascript:void()" type="submit" class="btn btn-primary w-100"
                                (click)="onSubmit()">{{config.buttons.loginButton}}</a>
                        </div>
                        <div *ngIf="errorMessage" class="text-danger mt-1">{{ errorMessage }}</div>
                    </div>
                </form> -->

                <form [formGroup]="form" class="row adjustemnt-container">
                    <div class="row">
                        @for (control of formControls; track control) {
                        @if (control.formConfig.type !== 'hidden' && control.formConfig.showInUI !==
                        false) {
                        <!-- Using ngSwitch to handle different control types -->
                        @switch (control.formConfig.type) {
                        <!-- Handling 'text' type controls -->
                        @case ('text') {
                        <div class="form-hold">
                            <div class="input-container">
                                <lib-text-input [controlConfig]="control.formConfig" [control]="control.control">
                                </lib-text-input>
                            </div>
                        </div>
                        }
                        @case ('password') {
                        <div class="form-hold">
                            <div class="input-container">
                                <lib-text-input [controlConfig]="control.formConfig" [control]="control.control">
                                </lib-text-input>
                            </div>
                        </div>
                        }
                        <!-- Handling 'select' type controls -->
                        @case ('select') {
                        <div class="form-hold">
                            <div class="input-container">
                                <lib-select-input [controlConfig]="control.formConfig" [control]="control.control">
                                </lib-select-input>
                            </div>
                        </div>
                        }

                        <!-- Handling 'textarea' type controls -->
                        @case ('textarea') {
                        <lib-text-area-input [controlConfig]="control.formConfig" [control]="control.control">
                        </lib-text-area-input>
                        }
                        <!-- Optional: Default case if control type doesn't match -->
                        @default {
                        <div>
                            <p>Unsupported control type: {{ control.formConfig.type }}</p>
                        </div>
                        }
                        }
                        }
                        }
                    </div>
                    <div class="form-hold mt-1">
                        <div class="form-listing">
                            <button type="submit" class="btn btn-primary w-100 py-2"
                                (click)="onSubmit()">{{config.buttons.loginButton}}</button>
                        </div>
                        <div *ngIf="errorMessage" class="text-danger mt-1">{{ errorMessage }}</div>
                    </div>
                </form>
                <div class="form-hold my-3" *ngIf="config.features.ssoLoginEnabled || config.features.forgotPasswordEnabled">
                    <p class="p-sm"><strong>OR</strong></p>
                </div>
                <div class="form-hold  text-center" *ngIf="config.features.ssoLoginEnabled">
                    <a href="#" class="signin-button icon-with-text"><span><i class="fa fa-address-card-o"
                                aria-hidden="true"></i></span>{{config.buttons.ssoLogin}}</a>
                </div>
                <div class="form-hold text-center mt-2" *ngIf="config.features.forgotPasswordEnabled">
                    <p><a href="{{config.links.forgotPasswordLink}}" class="bottom-textl1">{{config.buttons.forgotPasswordButton}}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="tne-app-footer">
    <div class="footer-custom">
        <p>{{ config.titles.footerText }}</p>
    </div>
</footer>