<table mat-table [dataSource]="processedData" multiTemplateDataRows
    class="table bor-light  mobile-card-view-normaltable responsive    color-table d-table table-cust tbl-sml">
    <!-- Approval Mode: Checkbox Column -->
    @if (mode === 'approval' || mode === 'finance-approval') {
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <input *ngIf="hasSelectableRows" type="checkbox" [(ngModel)]="selectAll" [checked]="selectAll" (change)="toggleSelectAll()" />
        </th>
        <td class="text-center" mat-cell *matCellDef="let row">
            <input *ngIf="row.ClaimStatusId !== 5" type="checkbox" [(ngModel)]="row.selected"
                (change)="onRowSelectionChange(row)" />
        </td>
    </ng-container>
    }
    <!-- Preview Mode: Serial Number Column -->
    <ng-container *ngIf="mode === 'preview'" matColumnDef="slNo">
        <th mat-header-cell *matHeaderCellDef>{{ slNoLabel }}</th>
        <td class="text-start" mat-cell *matCellDef="let row">{{ row.slNo }}</td>
    </ng-container>
    <!-- Common Action Icons -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" style="padding: 7px 0;">
            <div class="icons-new">
                <span style="width: 22px;">
                    <div [matTooltip]="'GL Code: ' + row?.GLCode" matTooltipPosition="above"
                        [matTooltipDisabled]="!row?.GLCode">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="18px"
                            height="18px">
                            <path d="M9 7H15" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M15 17V14" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M15 11H15.01" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12 11H12.01" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M9 11H9.01" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M9 14H9.01" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12 14H12.01" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M12 17H12.01" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M9 17H9.01" stroke="#323232" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M5 7C5 5.11438 5 4.17157 5.58579 3.58579C6.17157 3 7.11438 3 9 3H12H15C16.8856 3 17.8284 3 18.4142 3.58579C19 4.17157 19 5.11438 19 7V12V17C19 18.8856 19 19.8284 18.4142 20.4142C17.8284 21 16.8856 21 15 21H12H9C7.11438 21 6.17157 21 5.58579 20.4142C5 19.8284 5 18.8856 5 17V12V7Z"
                                stroke="#323232" stroke-width="2" stroke-linejoin="round" />
                        </svg>
                    </div>
                </span>
                <span style="width: 22px;">
                    <div (click)="showAttachments(row?.attachment)" matTooltip="Documents" matTooltipPosition="above"
                        [ngClass]="{ 'disabled-icon': !row?.attachment?.length }"
                        [matTooltipDisabled]="!row?.attachment?.length">
                        <svg fill="#000000" viewBox="0 0 24 24" id="paper-clip-bottom-right" data-name="Flat Line"
                            xmlns="http://www.w3.org/2000/svg" class="icon flat-line" width="18px" height="18px">
                            <path id="primary"
                                d="M15.27,5.23l3.95,3.95a6.1,6.1,0,0,1,0,8.61h0a6.09,6.09,0,0,1-8.6,0L4.19,11.36a4,4,0,0,1,0-5.74h0a4.06,4.06,0,0,1,5.73,0l6.74,6.74a2,2,0,0,1,0,2.87h0a2,2,0,0,1-2.87,0l-7-7"
                                style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;" />
                        </svg>
                    </div>
                </span>
                <span style="width: 22px;">
                    <div [matTooltip]="'Payment Type: ' + row?.PaymentMode" [matTooltipDisabled]="!row?.PaymentMode"
                        matTooltipPosition="above">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="18px"
                            height="18px">
                            <path d="M3.5 10H20.5" stroke="#323232" stroke-width="2" stroke-linecap="round" />
                            <path d="M6 14H8" stroke="#323232" stroke-width="2" stroke-linecap="round" />
                            <path d="M11 14H13" stroke="#323232" stroke-width="2" stroke-linecap="round" />
                            <path d="M3 9C3 7.11438 3 6.17157 3.58579 5.58579C4.17157 5 5.11438 5 7 5H12H17C18.8856 5 19.8284 5 20.4142 5.58579C21 6.17157 21 7.11438 21 9V12V15C21 16.8856 21 17.8284 20.4142 18.4142C19.8284 19 18.8856 19 17 19H12H7C5.11438 19 4.17157 19 3.58579 18.4142C3 17.8284 3 16.8856 3 15V12V9Z"
                                stroke="#323232" stroke-width="2" stroke-linejoin="round" />
                        </svg>
                    </div>
                </span>
                <span style="width: 22px;">
                    <button type="button" (click)="showRemarks(row)" tabindex="1" aria-label="Show Remarks">
                        <svg width="18px" height="18" viewBox="0 0 19 18"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.64286 9.00522H12.3571M5.5 5.57441H13.5M7.21429 13.5714L9.5 17L11.7857 13.5714H16.3571C16.9891 13.5714 17.5 13.0606 17.5 12.4286V2.14286C17.5 1.51086 16.9891 1 16.3571 1H2.64286C2.01086 1 1.5 1.51086 1.5 2.14286V12.4286C1.5 13.0606 2.01086 13.5714 2.64286 13.5714H7.21429Z"
                                stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </span>
            </div>
        </td>
    </ng-container>
    <!-- Dynamic Columns -->
    <ng-container *ngFor="let col of visibleTabelColumns" [matColumnDef]="col.name">
        <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
        <td [attr.data-label]="col?.label" mat-cell *matCellDef="let row">
            @if (col.controlType === 'input' && mode === 'finance-approval') {
            <input [type]="col.type" class="form-control" [(ngModel)]="row[col.name]"
                [readonly]="!col.isEditableInFinanceApproval" [disabled]="!row.selected || row.ClaimStatusId == 5"
                (keydown)="preventInvalidKeys($event)" (ngModelChange)="onApprovedAmountChange(row)"
                (blur)="onAmountBlur($event, row, col.name, col.decimalPrecision || 2); validateApprovedAmount(row)"
                min="0" max="9999999999" (input)="enforceLimit($event, row, col.name)" />
            } @else {
            @if (col.type == 'date') {
            {{ row[col.name] | globalDate }}
            } @else {
            @if(mode==="approval" && col.name === 'ApprovedAmount') {
            <input [type]="col.type" class="form-control" [(ngModel)]="row[col.name]"
                [readonly]="!col.isEditableInApproval" [disabled]="!row.selected || row.ClaimStatusId == 5"
                (keydown)="preventInvalidKeys($event)" (ngModelChange)="onApprovedAmountChange(row)"
                (blur)="onAmountBlur($event, row, col.name, col.decimalPrecision || 2); validateApprovedAmount(row)"
                min="0" max="9999999999" (input)="enforceLimit($event, row, col.name)" />
            }@else{
            {{ row[col.name] }}
            }
            <!-- {{ row[col.name] }} -->
            }
            }
        </td>
    </ng-container>
    <!-- Expand Button Column -->
    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" style="padding: 7px 0;">
            <div class="icons-new">
                <span *ngIf="row?.IsViolation"> <i 
                        class="fa fa-exclamation-triangle fs-6 violation-icon" [matTooltip]="row?.Violation"
                        matTooltipPosition="above"></i></span>
                <span *ngIf="row?.IsOCRRestrictedKeyword"> <i 
                        class="fa fa-exclamation-triangle fs-6  text-amber"
                        [matTooltip]="'Expense item contains a restricted keyword as identified by OCR validation.'"
                        matTooltipPosition="above"></i></span>
                <span class="btn btn-showhide" (click)="toggleRow(row)">
                    <i [ngClass]="isExpanded(row) ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"></i>
                </span>
            </div>
        </td>
    </ng-container>
    <!-- Header Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Data Row -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="getRowClass(row)">
        <pre>{{row |json}}</pre>
    </tr>
    <!-- Approval Mode: Remarks Row -->
    @if (mode === 'approval' || mode === 'finance-approval') {
    <tr mat-row *matRowDef="let row; columns: ['remarksRow']" class="remarks-row"></tr>
    }
    <!-- Expanded Detail Row -->
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row nested-table"></tr>
    <!-- Detail Row Template -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
            <div *ngIf="isExpanded(row)" class="expanded-container">
                  <div class="row">
                    <ng-container *ngFor="let col of visibleOtherColumns">
                        <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                            <div class="trl-preview-wrapper">
                                <div class="trl-readview-item">
                                    @if (col.type == 'date') {
                                    <div class="trl-req-head"> <label> {{ col.label }} </label></div>
                                    <div class="trl-req-detail">
                                        <p> {{ row[col.name] | globalDate }} </p>
                                    </div>
                                    } @else {
                                    <div class="trl-req-head"> <label> {{ col.label }} </label> </div>
                                    <div class="trl-req-detail">
                                        <p> {{ row[col.name] }} </p>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                @if (mode === 'finance-approval') {
                <app-add-gst [categoryGST]="categoryGST" [ExpenseRequestDetailId]="row?.ExpenseRequestDetailId"
                    [gstData]="row?.gst" [amount]="row?.ApprovedAmount"></app-add-gst>
                }
                @if (mode !== 'finance-approval') {
                <ng-container *ngFor="let nested of nestedTables">
                    @if (row[nested.dataKey]?.length) {
                    <table mat-table [dataSource]="row[nested.dataKey]" class="sub-table mb-3  nested-padding  grey-table  bg-none">
                        <ng-container *ngFor="let col of nested.columns" [matColumnDef]="col.name">
                            <th mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
                            <td [attr.data-label]="col?.label" style="background-color: #fff;" mat-cell
                                *matCellDef="let entry; let i = index">
                                <!-- Show serial number for __slNo column -->
                                <ng-container *ngIf="col.name === '__slNo'; else normalCell">
                                    {{ i + 1 }}
                                </ng-container>
                                <ng-template #normalCell>
                                    {{ entry[col.name] }}
                                </ng-template>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="getNestedColumnKeys(nested.columns)"></tr>
                        <tr mat-row *matRowDef="let entry; let i = index; columns: getNestedColumnKeys(nested.columns)">
                        </tr>
                    </table>
                    }
                </ng-container>
                }
              
            </div>
        </td>
    </ng-container>
    <!-- Remarks Full Width Row -->
    <!-- <ng-container matColumnDef="remarksRow">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
          <div class="remarks-container">
              <label class="remarks-label">Remarks</label>
              <textarea [(ngModel)]="row.remarks" class="form-control" rows="2"></textarea>
          </div>
      </td>
      </ng-container> -->
    <!-- Remarks Full Width Row -->
    <ng-container matColumnDef="remarksRow">
        <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
            <div *ngIf="row.ClaimStatusId !== 5" class="remarks-container"
                [ngClass]="{ 'remarks-error': isRemarkInvalid(row) }">
                <label class="remarks-label">Remarks</label> 
                <textarea [(ngModel)]="row.remarks" class="form-control chm-formtextarea" rows="2"
                    maxlength="500"></textarea>
            </div>
        </td>
    </ng-container>
</table>