<div class="position-relative">
   <div class="page-title justify-content-between d-flex align-items-center">
      <h2 class="page-header">Expense</h2>
   </div>
   <div class="custom-select self-select form-group mb-0 min-w-self  chm-formgroup ">
      <div class="selected  form-control chm-formselect">Self </div>
      <div class="options">
         <div class="text-center  d-block d-lg-none d-md-none d-sm-block"> <span class="select-mobile-line"></span>
         </div>
         <option class="option" value="182">XXXXX</option>
         <option class="option" value="183">YYYYY</option>
      </div>
   </div>


</div>
<div class="app-main-wrapper">
   <div class="two-roles-wrapper">
      <div class="tabs-page-hold">
         <div class="pad-bottom-mobile">
            <div class="row  row-cols-sm-2   row-cols-2  row-cols-lg-4 row-cols-xl-5  gy-3  gx-2 gy-lg-3  gx-lg-3   ">
               <div *ngFor="let expense of expenses">
                  <div class="expense-block" [ngClass]="expense.colorClass" (click)="navigateTo(expense.link)">
                     <span class="truncate-text"> {{ expense.title }}</span>
                    <div class="expense-block-ico">
                        <img [src]="expense.img" [alt]="expense.alt">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M10 6L0 6" stroke="white" stroke-width="2" stroke-miterlimit="10" />
                           <path d="M5.23535 1L10.2354 6L5.23535 11" stroke="white" stroke-width="2"
                              stroke-miterlimit="10" />
                        </svg>
                     </div>
                    </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>