.expense-block {
    width: 100%;
    min-height: 109px;
    text-align: center!important;
    padding: 16px 0px!important;
    margin-bottom: 6px;
    border-radius: 15px!important;
    height: 120px;
    overflow: hidden;
    position: relative!important;
    display: block!important;
}
.expense-color1 {
    background: rgba(36,120,229,1)!important;
}
.expense-color2 {
    background: rgb(181, 229, 36)!important;
}
.expense-color3 {
    background: rgb(229, 100, 36)!important;
}
.expense-color4 {
    background: rgb(194, 36, 229)!important;
}
.expense-color5 {
    background: rgb(231, 236, 243)!important;
}
.expense-color6 {
    background: rgb(238, 201, 230)!important;
}
.expense-color7 {
    background: rgb(198, 238, 200)!important;
}
.expense-color8 {
    background: rgb(160, 195, 208)!important;
}
.expense-color9 {
    background: rgb(238, 227, 220)!important;
}
.expense-color10 {
    background: rgb(205, 131, 139)!important;
}
.expense-color11 {
    background: rgb(137, 183, 150)!important;
}
.expense-color12 {
    background: rgb(255, 224, 121)!important;
}