<mat-form-field appearance="fill">
  <mat-label>{{ controlConfig.label }}</mat-label>
  <mat-select [formControl]="control" placeholder="{{controlConfig.placeholder || 'Select an option'}}"
    (selectionChange)="onSelectionChange($event)">
    <mat-option [value]="controlConfig.defaultValue">Indian Rupee : INR</mat-option>
    @for (option of controlConfig.options; track trackByFn($index, option)) {
      <mat-option [value]="option">
        {{ option.Name || option.KeyData || option.Value}}
      </mat-option>
    }
  </mat-select>
  @if (control.invalid && control.touched) {
    <mat-error>
      {{ getErrorMessage | fnWrap : control.invalid && control.touched }}
    </mat-error>
  }
</mat-form-field>