app-confirm-dialog {
    mat-dialog-content {
        margin-bottom: 16px;
    }

    mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
    }
    .mat-mdc-dialog-container .mat-mdc-dialog-content {
	padding: var(--mat-dialog-content-padding, 15px 23px);
}
}