
@if (data.title) {
<h2 mat-dialog-title>{{ data.title }}</h2>
}
<mat-dialog-content>{{ data.message }}</mat-dialog-content>
 
<div class="modal-footer button-half">
  @if (data.cancelText && data.cancelButton) {
  <button class="btn btn-outline-secondary me-2" (click)="onCancel()">{{ data.cancelText || 'Cancel' }}</button>
  }
  @if (data.confirmText && data.confirmButton) {
  <button class="btn btn-dark me-1"   (click)="onConfirm()">
    {{ data.confirmText || 'Confirm' }}
  </button>
  }
 
  </div>