<div class="new-login-wrapper">
    <div class="login-holdinn p-relative">
        <div class="left-container">
            <img [src]="config.images.loginImage" [alt]="config.titles.loginPageTitle"
                [title]="config.titles.loginPageTitle">
        </div>
        <div class="right-container">
            <div class="bidder-login">
                 <div class="form-hold mt-0 mb-3">
                    <div class="logo-inline-flex">
                        <img [src]="config.images.applicationLogo" [alt]="config.titles.loginPageTitle"
                            [title]="config.titles.loginPageTitle" class="logo-main">
                    </div>
                </div>
                <form [formGroup]="form" class="row adjustemnt-container">
                    <div class="row">
                        @for (control of formControls; track control) {
                        @if (control.formConfig.type !== 'hidden' && control.formConfig.showInUI !==
                        false) {
                        <!-- Using ngSwitch to handle different control types -->
                        @switch (control.formConfig.type) {
                        <!-- Handling 'text' type controls -->
                        @case ('text') {
                        <div class="form-hold">
                            <div class="input-container">
                                <lib-text-input [controlConfig]="control.formConfig" [control]="control.control">
                                </lib-text-input>
                            </div>
                        </div>
                        }
                        @case ('password') {
                        <div class="form-hold">
                            <div class="input-container">
                                <lib-text-input [controlConfig]="control.formConfig" [control]="control.control">
                                </lib-text-input>
                            </div>
                        </div>
                        }
                        @case ('email') {
                        <div class="form-hold">
                            <div class="input-container">
                                <lib-text-input [controlConfig]="control.formConfig" [control]="control.control">
                                </lib-text-input>
                            </div>
                        </div>
                        }
                        <!-- Handling 'select' type controls -->
                        @case ('select') {
                        <div class="form-hold">
                            <div class="input-container">
                                <lib-select-input [controlConfig]="control.formConfig" [control]="control.control">
                                </lib-select-input>
                            </div>
                        </div>
                        }

                        <!-- Handling 'textarea' type controls -->
                        @case ('textarea') {
                        <lib-text-area-input [controlConfig]="control.formConfig" [control]="control.control">
                        </lib-text-area-input>
                        }
                        <!-- Optional: Default case if control type doesn't match -->
                        @default {
                        <div>
                            <p>Unsupported control type: {{ control.formConfig.type }}</p>
                        </div>
                        }
                        }
                        }
                        }
                    </div>
                    <div class="form-hold mt-2">
                        <div class="form-listing">
                            <a href="javascript:void()" type="submit" class="btn btn-primary w-100"
                                (click)="onSubmit()">{{config.buttons.loginButton}}</a>
                        </div>
                        <div *ngIf="errorMessage" class="text-danger mt-1">{{ errorMessage }}</div>
                    </div>
                </form>
                <div class="form-hold mt-3 text-center">
                    <a class="signin-button icon-with-text" (click)="goToLogin()"><span><i
                                class="fa fa-address-card-o"
                                aria-hidden="true"></i></span>{{config.buttons.ssoLogin}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <footer class="tne-app-footer">
    <div class="footer-custom">
        <p>{{ config.titles.footerText }}</p>
    </div>
</footer> -->