<form [formGroup]="companyGSTForm">
    <div class="col-md-8">
        <div class="radio-group-container">
            <label>Is bill raised in company GST number?</label>
            <mat-radio-group formControlName="IsBillRaisedInCompanyGST">
                <mat-radio-button *ngFor="let option of options; trackBy: trackByFn" [value]="option.value">
                    {{ option.label }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</form>
@if (companyGSTForm.get('IsBillRaisedInCompanyGST')?.value) {
<form [formGroup]="gstDetailsForm">
    <div class="col-md-12">
        <div class="gst-wrapper">
            <div class="gst-hold-body" id="showDiv">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblTeGST" class="table   color-table d-table table-cust tbl-sml">
                            <thead>
                                <tr>
                                    <th *ngFor="let field of controlConfig.fields" class="thd-w10">
                                        <span>{{field.name}}</span>
                                    </th>
                                    <th class="thd-w5"><span>Action</span></th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td *ngFor="let field of controlConfig.fields">
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input type="text" [formControlName]="field.name" [placeholder]="field.name"
                                                class="form-control chm-forminput teGst gsttxt" />
                                            <span class="validate-error-message teGst"
                                                *ngIf="gstDetailsForm.get(field.name)?.errors && gstDetailsForm.get(field.name)?.touched">
                                                {{
                                                getFirstValidationMessage(gstDetailsForm.get(field.name)?.errors,
                                                field.name)
                                                }}
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <a type="button" id="btnAddGstTe" class="btn btn-light btn-sm rounded-circle "
                                            (click)="addGstRow()">
                                            <span class="ti-plus ti-rotate"></span>
                                        </a>
                                    </td>
                                </tr>

                                <ng-container *ngIf="gstDetails.length > 0">
                                    <tr *ngFor="let gst of gstDetails;let i = index">
                                        <td>{{gst.GstIn}}</td>
                                        <td>{{gst.InvoiceNumber}}</td>
                                        <td>{{gst.Amount}}</td>
                                        <td>{{gst.SGST}}</td>
                                        <td>{{gst.CGST}}</td>
                                        <td>{{gst.IGST}}</td>
                                        <td>{{gst.UGST}}</td>
                                        <td>
                                            <a type="button" id="btnAddGstTe"
                                                class="btn btn-light btn-sm rounded-circle " (click)="removeGstRow(i)">
                                                <span class="ti-minus ti-rotate"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
}