<form [formGroup]="companyGSTForm">
    <div class="col-md-8">
        <div class="radio-group-container form-group chm-formgroup    ">
            <label class="d-block ">Is bill raised in company GST number?</label>
            <mat-radio-group formControlName="IsBillRaisedInCompanyGST">
                <mat-radio-button *ngFor="let option of options; trackBy: trackByFn" [value]="option.value">
                    {{ option.label }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</form>
@if (companyGSTForm.get('IsBillRaisedInCompanyGST')?.value) {
<app-add-gst [control]="control" [controlConfig]="controlConfig" [form]="form" [gstData]="gstData"></app-add-gst>
}