 


<div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
            Requester Details
            </h5>
                 <button mat-icon-button mat-dialog-close>
        <mat-icon class="text-white">close</mat-icon>
    </button>
         </div>

 
<mat-dialog-content class="dialog-content">
    <div class="details-container">

  <div class="row">
                                                <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Employee Code   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>{{data.EmployeeCode}}</span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

                                                        <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Name  </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span> {{data.EmployeeName}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

       <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Email  </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>  {{data.EmployeeEmail}}  </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

                                                 <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Designation  </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span> {{data.Designation}}  </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

                                                  <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Company  </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>  {{data.Company}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

<div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Business Unit  </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>  {{data.PersonnelSubArea}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>


                                                <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Division   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span> {{data.PersonnelArea}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

                                                     <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Department   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span> {{data.Department}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>


                                                        <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Sub Department   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span> {{data.Department}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>


                                                
                                                        <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Grade   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>  {{data.Grade}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>



                                                      <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>Gender   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>   {{data.Gender}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>


                                                <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>L1 Manager   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>     {{data.ReportingManager}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                            
                                            
                                            
                                              <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>  HOD   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>   {{data.HodPersonnel}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                            
                                            
                                             
                                              <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>  DOB   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>  {{data.DateOfBirthString}}</span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                            
                                            
                                             <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>  DOJ   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>   {{data.DateOfJoinString}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>


                                                   
                                             <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>  Mobile Number   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>   {{data.MobileNumber}}</span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>
                                            
                                             <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label>  Cost Centre   </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>  {{data.CostCentre}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

  <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label> City  </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span> {{data.City}} </span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>


                                                  <div class="col-md-4 col-sm-4 col-lg-4 col-6">
                                                   <div class="trl-preview-wrapper">
                                                      <div class="trl-readview-item">
                                                         <div class="trl-req-head">
                                                            <label> Country  </label>
                                                         </div>
                                                         <div class="trl-req-detail">
                                                            <span>{{data.Country}}</span>
                                                         </div>
                                                      </div>
                                                   </div>
                                                </div>

                                            </div>


       

     
    </div>
</mat-dialog-content>

 