 <div class="modal-dialog modal-xl ">
      <div class="modal-content" style="background-color: #F7F7FA;">
 <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
             Remarks
            </h5>
             <mat-icon (click)="dialogRef.close()" aria-hidden="false" aria-label="Example home icon" fontIcon="close">
            
    </mat-icon>
 

         </div>
 

<div class="modal-body">
           <div class="row">   
             <div class="col-md-12"> 
    <table  class="table mt-0 mb-0  remove-th-mobile remove-th-mobilet     grey-table table-cust tbl-sml attachment-table " > 
 
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Action By</th>
                <th>Action Date</th>
                <th>Action</th>
                <th>Approved Amount</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let approval of data.remarksData; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ approval?.approver }}</td>
                <td>{{ approval?.approvalDateTimeString }}</td>
                <td>{{ approval?.actionStatus }}</td>
                <td>{{ approval?.approvedAmount | decimalFormat }}</td>
                <td>{{ approval?.approverRemarks }}</td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
</div></div>

 