<form [formGroup]="gstDetailsForm">
    <div class="col-md-12">
        <div class="gst-wrapper">
            <div class="gst-hold-body" id="showDiv">
                <div class="row">
                    <div class="col-md-12">
                        <table id="tblTeGST" class="table   color-table d-table table-cust tbl-sml">
                            <thead>
                                <tr>
                                    @for (field of fields; track $index) {
                                    @if (field.showInUI) {
                                    <th class="thd-w10">
                                        <span>{{field.name}}</span>
                                    </th>
                                    }
                                    }
                                    <th class="thd-w5"><span>Action</span></th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    @for (field of fields; track $index) {
                                    @if (field.showInUI) {
                                    <td>
                                        <div class="form-group chm-formgroup new-form-grp mt-0">
                                            <input [type]="field.type" [formControlName]="field.name"
                                                [placeholder]="field.name" (blur)="onBlur(field)"
                                                (input)="onInput($event, field)"
                                                class="form-control chm-forminput teGst gsttxt" />
                                            <span class="validate-error-message teGst"
                                                *ngIf="gstDetailsForm.get(field.name)?.errors && gstDetailsForm.get(field.name)?.touched">
                                                {{
                                                getValidationMessage(gstDetailsForm.get(field.name)?.errors,
                                                field.name)
                                                }}
                                            </span>
                                        </div>
                                    </td>
                                    }
                                    }
                                    <td>
                                        <a type="button" id="btnAddGstTe" class="btn btn-light btn-sm rounded-circle "
                                            (click)="addGstRow()">
                                            <span class="ti-plus ti-rotate"></span>
                                        </a>
                                    </td>
                                </tr>

                                @if (gstDetails?.length > 0) {
                                @for (gst of gstDetails; track $index) {
                                <tr>
                                    @for (field of fields; track $index) {
                                    @if (field.showInUI) {
                                    <td>{{gst[field.name]}}</td>
                                    }
                                    }
                                    <td>
                                        <a type="button" id="btnAddGstTe" class="btn btn-light btn-sm rounded-circle "
                                            (click)="removeGstRow($index)">
                                            <span class="ti-minus ti-rotate"></span>
                                        </a>
                                    </td>
                                </tr>
                                }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>